<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CabeceraCuenta.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/fontawesome-free-7.1.0-web/css/all.css}" type="text/css">
    <title>IronFit - Mi Cuenta</title>
    <link rel="icon" type="image/png" th:href="@{/img/logo-recortado.PNG}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

<script th:src="@{/user-info.js}"></script>
</body>
</html>